
#wrapper {
  min-width: $media-query-max;
}

.table table {
  width: 300px;
}

.d-code {
  white-space: nowrap;
}

.information {
  display: block;
  width: 95%;
  margin: 0 auto;

}

.information > figure {
  display: inline-block;
  max-width: 600px;
  max-height: 600px;
}
