---
identity: POST106
layout: post
title: Learning Journal
category: Portfolio
comments: true
tags:
    - web-development
quote:
    quote: Associate with people who are likely to improve you.
    author: Seneca
description: Responsive blog type website for web development module.
headers:
    - id: H0
      name: Reflection
images:
    - IMG109
    - IMG110
---

<figure>
    {% for member in site.data.images %}
    {% if member.id == page.images[0] %}
    {% assign img = member %}
    {% endif %}
    {% endfor %}
    <a name="{{ img.id }}"></a>
    <img src="{{ img.src }}" alt="{{ img.alt }}"/>
    <figcaption>
        <strong>Image {{ img.id | remove: "IMG" | split: "" | join: "." }}:</strong> {{ img.caption }}
    </figcaption>
</figure>

<p>
Simple blog type website created from scratch using only <code class="d-code">HTML5</code>and
<code class="d-code">CSS3</code>. It is responsive and has three pages:
</p>

<ul>
    <li><a href="http://grrinchas.github.io/learning-journal/index.html">Main page</a> - contains post entries. </li>
    <li><a href="http://grrinchas.github.io/learning-journal/contact_me.html">Contact form</a> - for entering contact information. </li>
    <li><a href="http://grrinchas.github.io/learning-journal/guide.html">A guide page</a> - shows most popular hotels and restaurants in Eastbourne. </li>
</ul>

<h2><a name="{{ page.headers[0].id }}"></a>{{ page.headers[0].name }}</h2>

<p>
    It is impossible to create a website if you know nothing about what a <code class="d-code">tag</code> or an
    <code class="d-code">attribute</code> means. The
    best introductory book which I found was
    <a rel="nofollow" href="http://www.amazon.co.uk/gp/product/1118008189/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=1118008189&linkCode=as2&tag=dennisgrinch-21">HTML & CSS: Design and Build Web Sites</a>.
    I really encourage to read this one to everyone who just started creating websites.
    Another good resource was
    <a rel="nofollow" href="http://www.amazon.co.uk/gp/product/144936294X/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=144936294X&linkCode=as2&tag=dennisgrinch-21">Learning Responsive Web Design: A Beginner's Guide</a>
    which explained about <code class="d-code">RWD</code>. And <a href="http://html5doctor.com/">HTML Doctor</a> website helped me understand semantic meaning
    between different <code class="d-code">HTML5</code> elements.

</p>

<p>
    Equipped with this power knowledge I manage to make first web page.
    Unfortunately, I was not satisfied with the results,
    because it looked <i>off</i>. Did little bit research and found that the missing piece was a lack of
    <i>design principles</i>. Bad font choice, loads of colours created visually repulsive look.
    <a rel="nofollow" href="http://www.amazon.co.uk/gp/product/1598390775/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=1598390775&linkCode=as2&tag=dennisgrinch-21">Typography for Lawyers</a>
    and <a rel="nofollow" href="http://www.amazon.co.uk/gp/product/0321767535/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=0321767535&linkCode=as2&tag=dennisgrinch-21">100 Things Every Designer Needs to Know About People: What Makes Them Tick?</a>
    improved that considerably.

</p>
<p>
    Later on I finished project with a <a href="http://grrinchas.github.io/learning-journal/guide.html">guide page</a>
    which used entirely different stylesheet.
</p>

<figure>
    {% for member in site.data.images %}
    {% if member.id == page.images[1] %}
    {% assign img = member %}
    {% endif %}
    {% endfor %}
    <a name="{{ img.id }}"></a>
    <img src="{{ img.src }}" alt="{{ img.alt }}"/>
    <figcaption>
        <strong>Image {{ img.id | remove: "IMG" | split: "" | join: "." }}:</strong> {{ img.caption }}
    </figcaption>
</figure>

<p>
    Fully working project can be found via <a href="http://grrinchas.github.io/learning-journal/">Learning Journal</a>.
</p>
