---
identity: PG101
layout: page
title: Definitions
description: All the definitions found on this website.
---

{% for def in site.definitions %}
    {% for post in site.posts %}
        {% if def.post == post.identity %}
            <a href="{{ post.url }}#{{ def.identity }}">
                <div class="env-header">
                Definition {{ def.identity | remove: "DEF"  | split: "" | join: "." }}
                </div>
           </a>
        {% endif %}
    {% endfor %}

<div class="definition alert">
    {{ def.content }}
</div>
{% endfor %}