---
identity: PG105
layout: page
title: Tables
description: All tables found on this website.
---


{% for tb in site.tables %}
    {% for post in site.posts %}
        {% if tb.post == post.identity %}
            <figure class="table">
            {{ tb.content }}
             <figcaption>
                 <a style="color: inherit" href="{{ post.url }}#{{ tb.identity }}"><strong>Table {{ tb.identity | remove: "TB"  | split: "" | join: "." }}:</strong> {{ tb.title }} </a>
            </figcaption>
            </figure>
        {% endif %}
    {% endfor %}
{% endfor %}