---
identity: 101
layout: page
title: Definitions
description: All the definitions found on this website.
---

{% assign definitions = site.definitions | sort: 'identity' | reverse %}
{% for def in definitions %}

    {% for post in site.posts %}
        {% if def.post == post.identity %}
            {% for def_link in post.definitions %}
                {% if def.identity == def_link %}
                 <a href="{{ post.url }}#{{ def_link }}">
                     <div class="env-header">
                     Definition {{ def.identity | remove: "DEF"  | split: "" | join: "." }}
                     </div>
                </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

<div class="definition alert">
    {{ def.content }}
</div>
{% endfor %}