---
identity: 104
layout: page
title: Quotes
description: All quotes used in this website
---

{% for post in site.posts %}
    <blockquote class="blockquote">
        <p>
        {{ post.quote.quote }}
        </p>
        <footer>
            <cite>- {{ post.quote.author }}</cite>
        </footer>
    </blockquote>
{% endfor %}

{% for page in site.pages %}
    {% if page.layout == "tag" %}
    <blockquote class="blockquote">
        <p> {{ page.quote.quote }} </p>
        <footer><cite>- {{ page.quote.author }}</cite></footer>
    </blockquote>
    {% endif %}
{% endfor %}

{% for tag in tags %}
{% endfor %}


