---
identity: 103
layout: page
title: Tags
description: All tags found on this website.
---

{% for page in site.pages %}
    {% if page.layout == "tag" %}
        <h2>{{ page.tag | capitalize | replace: "-", " " }}</h2>
        <ul>
            {% for post in site.posts %}
                {% if post.tags contains page.tag %}
            <li><a href="{{ post.url }}">{{ post.title }}</a> - {{ post.description }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}