---
identity: POST102
layout: post
title: Theory of NFA
category: Tutorial
comments: true
tags:
    - automata-theory
quote:
    quote: The difference between stupidity and genius is that genius has its limits.
    author: Albert Einstein
description: Formal definition. State diagrams. Transitions and more.
posts:
    - POST100
    - POST101
definitions:
    - DEF100
headers:
    - id: H0
      name: NFA vs. DFA
images:
    - IMG100
tables:
    - TB100
---

{% for post in site.posts %}
    {% if post.identity == page.posts[0] %}
        {% assign POST100 = post %}
    {% endif %}
    {% if post.identity == page.posts[1] %}
        {% assign POST101 = post %}
    {% endif %}
{% endfor %}

{%  capture POST100_LINK_DEF100 %}
<a href="{{ POST100.url }}#{{ POST100.definitions[0] }}">Definition {{ POST100.definitions[0] | remove: "DEF" | split: "" | join: "." }}</a>
{% endcapture %}

<p>
    In previous tutorial (see <a href="{{ POST100.url }}">{{ POST100.title }}</a>) we talked about DFAs and implemented
    one in JAVA (see <a href="{{ POST101.url }}">{{ POST101.title }}</a>). Here we will talk about
    <strong>NFA (Nondeterministic Finite Automaton)</strong> or <strong>NFSM (Nondeterministic Finite State Machine)</strong>.
</p>

<h2><a name="{{ page.headers[0].id }}"></a>{{ page.headers[0].name }}</h2>

<p>
    Just by looking at the names of NFA and DFA, we can see the main difference between them. That is, DFA is a
    <strong>deterministic</strong> while NFA is <strong>nondeterministic</strong>. <i>But what exactly means for automaton
        to be deterministic?</i>. From {{ POST100_LINK_DEF100 }} we see that given any state and any symbol there is only one
    transition to the next state. Thus, next state is determined. While NFA has no such constraint.
</p>

